/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
font-family: 'Montserrat', sans-serif;
}

nav ul a,
nav .brand-logo {
color: #00A6A6;
}
nav .brand-logo {
    padding: 0 50px;
    font-size: 3em;
}

nav .brand-logo {
font-family: 'Playfair Display', serif;
font-weight: 900;
}

.nav-wrapper {
  padding: 0 50px
  
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #780116;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.section-intro {
  height: 100%;
  width: 100%;
}


.header {
    margin-top: 15%;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.header-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  margin-top: 10%;
  margin-bottom: 10%;
} 

.btn-large {
  margin-bottom: 10%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .nav-wrapper {
  padding: 0 10px
  }  
}

.col-servizio{
  margin-top: 12%;
  margin-bottom: 20%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


#servizio h5 {
  font-size: 1.3em;
  line-height: 1.6em;
}

.section-registrazione {
  width: 100%;
  height: 100%;
}

.btn-registrazione {
  width: 100%;
  margin-bottom: 16%;
}

.Lavora-icon {
font-size: 7em;
margin-top: 1%;
}

.header-vinguardista {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.btn-Lavora {
  font-family:'Montserrat', sans-serif;
  width: 100%;
  margin-bottom: 16%;
}

.section-morale {
  width: 100%;
  height: 100%;
}

footer.page-footer {
  margin: 0;
  background-color: white;
}

.social-icon {
 font-size: 1.5em
 color: #fff
 padding 0 20px;
}

.social-icon:hover {
  color:#780116;
}
